@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --accent1-rgb: 12, 195, 139;
  --accent2-rgb: 45, 24, 99;
  --accent3-rgb: 72, 51, 126;
  --accent4-rgb: 163, 142, 217;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 26, 26, 26;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
	height: 100vh;
}

.bg-accent1{
    background: rgb(var(--accent1-rgb))
}

.bg-accent2{
    background: rgb(var(--accent2-rgb))
}

.bg-accent3{
    background: rgb(var(--accent3-rgb))
}

.bg-accent4{
    background: rgb(var(--accent4-rgb))
}

.fg-accent1{
    color: rgb(var(--accent1-rgb))
}

.fg-accent2{
    color: rgb(var(--accent2-rgb))
}

.fg-accent3{
    color: rgb(var(--accent3-rgb))
}

.fg-accent4{
    color: rgb(var(--accent4-rgb))
}

a {
    color: rgb(var(--accent1-rgb));
    text-decoration: underline;
}

a:hover {
    color: rgb(var(--accent4-rgb));
    text-decoration: underline;
}

@layer components {
    input.accent1 {
        @apply bg-accent1 rounded-md text-black px-2 py-1;
    }

    button.accent1 {
        @apply bg-accent1 rounded-md text-black px-6 py-2 hover:scale-110 duration-100 active:scale-100;
    }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
 height: 100vh;
}

@media (min-aspect-ratio: 1/1) {
  main {
    height: auto;
    min-height: 100vh;
  }
}
